* {
    box-sizing: border-box;
}

body {
    background-image: url('tapeta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    font-family: Arial, sans-serif;
    color: white;
}


@font-face {
    font-family: SkratchPunk;
    src: url(Skratch_Punk.ttf);
}

@font-face {
    font-family: OctinSpraypaint;
    src: url(octin_spraypaint.ttf);
}

h1, h2 {
    font-family: SkratchPunk;
    text-align: center;
}
h3 {
    font-family: OctinSpraypaint;
    text-align: center;
}

h3 {
    padding-top: 130px;
    margin-top: -130px;
}

p, p2 {
    font-family: OctinSpraypaint;
    font-size: 20px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 10px; /* Zmniejszony padding */
}

.header {
    font-family: SkratchPunk;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 15px;
    border-bottom: 5px solid #fff;
}

.menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 8px;
}

.menu a:hover {
    color: #000;
}

.menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    font-family: OctinSpraypaint, serif;
    padding: 8px;
    margin-bottom: 7px;
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    position: relative;
}

.menu li:hover {
    background-color: #fff;
    color: #000;
}

.menu li:hover a {
    color: #000;
}

.aside {
    height: auto;
    max-width: 100%;
}

.aside img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.footer {
    background-color: #000;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 15px;
    border-top: 5px solid #fff;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.inner-content {
    padding: 20px;
}

.col-desktop-6.col-tablet-9 {
    box-sizing: border-box;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    color: black;

}

@media only screen and (max-width: 600px) {
    .menu ul {
        display: flex;
        flex-wrap: nowrap;
    }

    .menu li {
        flex: 1;
        text-align: center;
    }

    .inner-content {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 600px) {
    .col-tablet-1 {width: 8.33%;}
    .col-tablet-2 {width: 16.66%;}
    .col-tablet-3 {width: 25%;}
    .col-tablet-4 {width: 33.33%;}
    .col-tablet-5 {width: 41.66%;}
    .col-tablet-6 {width: 50%;}
    .col-tablet-7 {width: 58.33%;}
    .col-tablet-8 {width: 66.66%;}
    .col-tablet-9 {width: 75%;}
    .col-tablet-10 {width: 83.33%;}
    .col-tablet-11 {width: 91.66%;}
    .col-tablet-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    .col-desktop-1 {width: 8.33%;}
    .col-desktop-2 {width: 16.66%;}
    .col-desktop-3 {width: 24%;}
    .col-desktop-4 {width: 33.33%;}
    .col-desktop-5 {width: 41.66%;}
    .col-desktop-6 {width: 50%;}
    .col-desktop-7 {width: 58.33%;}
    .col-desktop-8 {width: 66.66%;}
    .col-desktop-9 {width: 75%;}
    .col-desktop-10 {width: 83.33%;}
    .col-desktop-11 {width: 91.66%;}
    .col-desktop-12 {width: 100%;}
}